
body {

text-align: center;
font-family: cursive, 'Zhi Mang Xing';

}

.top-container {

  background:#E4F9F5;
  position: relative;
  padding-top: 100px;
}


.pro {
  text-decoration: underline;
}

.top-cloud3 {
  position: absolute;
  right: 200px;
  top: 50px;
}

.bottom-cloud3 {
  position:absolute;
  left: 200px;
  bottom: 250px;
}

.calculator-img {
width: 250px;
}

.hot-sauce {
  width: 250px;

}

.school {
width: 200px;

}
